# Ignore environment-specific configuration
behat.aliases.drushrc.php
behat.aliases.drushrc.php-e
casaccount.yml

# Ignore OS output
.DS_Store*
Thumbs.db

#Ignore PHP composer build
/vendor
/bin
composer.lock

#Ignore test output
/test