# Ignore environment-specific configuration
aliases.drushrc.php
config.sh
casaccount.yml

# Ignore OS output
.DS_Store*
Thumbs.db

#Ignore PHP composer build
/vendor
/bin
composer.lock

#Ignore test output
/test